<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{js/daypilot/daypilot-all.min.js}"></script>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<h2>Edit Profile</h2>
<form th:action="@{/student/profile/edit/{id}(id=${student.id})}" th:object="${editForm}" method="post">
    <input type="text" th:field="*{firstName}" />
    <input type="text" th:field="*{lastName}" />
    <input type="email" th:field="*{email}" />
    <label>Grade Level: </label>
    <select th:field="*{gradeLevel}">
        <option value="GRADUATE">Graduate</option>
        <option value="UNDERGRADUATE">Undergraduate</option>
        <option value="HIGH_SCHOOL">High School</option>
    </select>

    <button type="submit">Save Changes</button>
</form>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
