<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../../static/css/styles.css" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Student profile page</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<article class="story">
    <h3>Welcome, <span th:text="${student != null ? student.firstName : 'Student'}">!</span></h3>


    <div class="row">
<!--        TODO: placeholder profile pic-->
        <div class="img-column"><img src="static/images/notebook.png" alt="profile pic"></div>
        <p>Student profile</p></div>
        <div class="column">
            <ul>
                <li>Name: </li>
                <li>Email: </li>
                <li>Password: </li>
                <li>Subjects: </li>
                <li>Grade Level: </li>
            </ul>
<!--            TODO: edit button-->
    </div>
</article>

<article class="story">
    <h3>Schedule</h3>
    <div class="row">

<!--        <div class="img-column"><img src="static/images/books.png"  alt="a book"/></div>-->
        <div class="column">
            <p>Schedule here  </p></div>
    </div>
</article>


<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>