<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Student Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="container">
<div class="form-group">
    <article class="infobox">
        <h1>Student Registration</h1>

    <form th:action="@{/student/register}" method='POST' th:object="${registrationFormDTO}">


        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label th:for="firstName">First Name</label>
                    <input th:field="${registrationFormDTO.firstName}" />
                    <p class="error" th:errors="${registrationFormDTO.firstName}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label th:for="lastName">Last Name</label>
                    <input th:field="${registrationFormDTO.lastName}" />
                    <p class="error" th:errors="${registrationFormDTO.lastName}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label th:for="email">Email</label>
                    <input th:field="${registrationFormDTO.email}" />
                    <p class="error" th:errors="${registrationFormDTO.email}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label th:for="password">Enter password</label>
                    <input type="password" th:field="${registrationFormDTO.password}" />
                    <p class="error" th:errors="${registrationFormDTO.password}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label th:for="verifyPassword">Re-enter password</label>
                    <input type="password" th:field="${registrationFormDTO.verifyPassword}" />
                    <p class="error" th:errors="${registrationFormDTO.verifyPassword}"></p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label>Grade Level: </label>
                        <select th:field="*{gradeLevel}">
                            <option value="GRADUATE">Graduate</option>
                            <option value="UNDERGRADUATE">Undergraduate</option>
                            <option value="HIGH_SCHOOL">High School</option>
                        </select>
                </div>
            </div>
        </div>


       <br/>
        <button type="submit">Register</button>
    </form>
    </article>
</div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>