<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Student Register</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div>
    <h1>Student Registration</h1>

    <form action="student/student-register.html" method='POST'>

<!--        commented out database links to run app w/o errors- delete extra labels when uncommenting-->

        <div class="form-item">
<!--            <label for="firstName">First Name: </label>-->
            <label>First Name: </label>
            <input th:field="${student.firstName}" />
            <p class="error" th:errors="${student.firstName}"></p>
        </div>

        <div class="form-item">
<!--            <label for="lastName">Last Name: </label>-->
            <label>Last Name: </label>
            <input th:field="${student.lastName}" />
            <p class="error" th:errors="${student.lastName}"></p>
        </div>

        <div class="form-item">
<!--            <label for="email">Email: </label>-->
            <label>Email: </label>
            <input th:field="${student.email}" />
            <p class="error" th:errors="${student.email}"></p>
        </div>

        <div class="form-item">
<!--            <label for="password">Enter password: </label>-->
            <label>Enter Password: </label>
            <input type="password" th:field="${student.password}" />
            <p class="error" th:errors="${student.password}"></p>
        </div>

        <div class="form-item">
<!--            <label for="pwHash">Re-enter password: </label>-->
            <label>Re-enter password: </label>
            <input type="password" th:field="${student.pwHash}" />
            <p class="error" th:errors="${student.pwHash}"></p>
        </div>

        <div class="form-item">
        <label>Time Zone:
            <select th:field="${timeZone}">
                <option value = 'ET'>ET- Eastern</option>
                <option value = 'CT'>CT- Central</option>
                <option value = 'MT'>MT- Mountain</option>
                <option value = 'PT'>PT- Pacific</option>
            </select>
        </label>
        </div>

        <div class="form-item">
        <label>Grade Level:
            <select th:field="${gradeLevel}">
                <option value = 'Grad'>Graduate</option>
                <option value = 'UG'>Undergraduate</option>
                <option value = 'HS'>High School</option>
            </select>
        </label>
        </div>

        <button type="submit">Register</button>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>