<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Student Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="container">
    <div class="form-group">
        <article class="infobox">
            <h1>Update Profile</h1>

            <form id="editForm" th:object="${student}" th:action="@{/update}" method="PUT">
                <table class="table table--striped" style="border-collapse: collapse; width: 85%; margin: 15px auto 25px auto; border: #CBCBCB; border-style: solid; border-width: thin;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Profile Information</th>
                        <td style="width: 25%; text-align: right;">
                            <button type="button" >Edit</button>
                        </td>
                    </tr>
                    </thead>
                    <tr>
                        <td style="width: 25%;">Name: </td>
                        <td th:if="${!editMode}" th:text="${student.firstName} + ' ' + ${student.lastName}">Student name</td>
                        <td th:if="${editMode}"><input type="text" th:field="*{firstName}" /> <input type="text" th:field="*{lastName}" /></td>
                    </tr>

                    <tr>
                        <td style="width: 25%;">Grade level: </td>
                        <td th:if="${!editMode}" th:text="${student.gradeLevel}">Student grade level</td>
                        <td th:if="${editMode}"><input type="text" th:field="*{gradeLevel}" /></td>
                    </tr>
                </table>
                <button type="submit" th:if="${editMode}">Submit</button>
            </form>

                <!--        <div class="container">-->
                <!--            <div class="row">-->
                <!--                <div class="form-item col-4">-->
                <!--                    <label>Grade Level: </label>-->
                <!--                        <select th:field="*{gradeLevel}">-->
                <!--                            <option value = 'Grad'>Graduate</option>-->
                <!--                            <option value = 'UG'>Undergraduate</option>-->
                <!--                            <option value = 'HS'>High School</option>-->
                <!--                        </select>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--        </div>-->


                <br/>
                <button type="submit">Update</button>
            </form>
        </article>
    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>