<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>register-form</title>
</head>
<body>
<div>
    <h1>Login</h1>
    <form action="#" th:action="@{/login}" method="post">


        <label>Email:
            <input type="text" th:field="*{email}" />
        </label><br/>

        <label>Password:
            <input type="password" th:field="*{password}" />
        </label><br/>


        <button type="submit">Login</button>

        <p> Need to register?</p>
        <p>Student Registration</p>
        <p>Tutor Registration</p>
    </form>
</div>


</body>
</html>