
<style type="text/css">
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    padding: 10px 30px;
    }

#head {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}

a.navlink:link, a.navlink:visited {
    color: blue;
    font-weight: 400;
}
a.navlink:hover, a.navlink:active {
    text-decoration: underline;
}


    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }

    input[type=checkbox] {
        margin-right: 190px;
    }
    button {
        padding: 5px;
        margin: 10px;
    }

article {
    border-radius: 15px;
    margin: 25px 50px;
    font-family: Lato;
        font-size: 16px;
}

.row {
    display: flex;
    vertical-align: middle;
  }

.img-column {
    flex: 30%;
}

.head-column {
    flex: 30%;
}

.column {
    flex: 70%;
}

h1 {
    font: Lato;
    font-size: 20;
    font-style: bold;
    text-indent: 4rem;
    color: #1F3540;
}

h3 {
    font: Lato;
    font-size: 18;
    font-style: regular;
    text-indent: 4rem;
    color: #1F3540;
}

img {
    margin: 10px;
    border-style: solid;
    border: width 2px;;
    border-color: #c3c3c3;
}

ul {
  list-style: none;
}

.infobox {
    border-radius 15px;
    border:width 5px;
    border-style: solid;
    border-color:#c3c3c3;

    padding: 25px;
    background-color: #efefef;
    font-family: Lato;
        font-size: 14px;
}

footer {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    padding: 10px 30px;
    font-size 10px;
    }

.wrapper {
  height: 200px;
  display: flex;
  gap: 20px;
}


.box img {
  width: 75px;
  height: 75px;
  text-align: center
}

.box1 img {
  object-fit: cover;
  border: 1px solid gray;
}

.box2 img {
  object-fit: contain;
  border: 1px solid gray;
}

.box3 img {
  object-fit: fill;
  border: 1px solid gray;
  width: 75px;
  height: 75px;
}

</style>