<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{js/daypilot/daypilot-all.min.js}"></script>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<h2>Edit Profile</h2>
<form th:action="@{/tutor/profile/edit/{id}(id=${tutor.id})}" th:object="${editForm}" method="post">
    <input type="text" th:field="*{firstName}" />
    <input type="text" th:field="*{lastName}" />
    <input type="text" th:field="*{email}" />
    <input type="text" th:field="*{qualifications}" />
    <input type="text" th:field="*{availability}" />
    <button type="submit">Save Changes</button>
</form>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
