<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../../static/css/styles.css" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Tutor Profile page</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<article class="infobox">
    <h3>Welcome, <span th:text="${tutor != null ? tutor.firstName : 'Tutor'}">!</span></h3>
    <div class="row">
        <!--        TODO: placeholder profile pic-->
        <div class="img-column"><img src="static/images/notebook.png" alt="profile pic"></div>
        <p>Tutor profile</p></div>
    <div class="column">

        <table class="ic-Table ic-Table--hover-row ic-Table--striped" style="border-collapse: collapse; width: 65%;
        margin: 15px auto 25px auto; border-bottom: 1px solid black;">
                <thead>
                <tr>
                    <th>Profile Information</th>
                    <th></th>
                </tr>
                </thead>
                <tr>
                    <td>Name: </td>
                    <td th:text="${tutor.firstName} + ' ' + ${tutor.lastName}">Tutor name</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td th:text="${tutor.email}" >Tutor email</td>
                </tr>

                <tr>
                    <td>Qualifications: </td>
                    <td th:text="${tutor.qualifications}" >Tutor qualifications</td>
                </tr>

                <tr>
                    <td>Availability: </td>
                    <td th:text="${tutor.availability}" >Tutor availability</td>
                </tr>
            </table>

            <!--            TODO: edit button-->
    </div>
</article>
<article class="infobox">
    <h3>Reviews</h3>
    <div class="row">

        <!--        <div class="img-column"><img src="static/images/books.png"  alt="a book"/></div>-->
        <div class="column">
            <p>Student reviews of tutor here  </p></div>
    </div>
</article>

<article class="infobox">
    <h3>Payment</h3>
    <div class="row">

        <div class="column">
            <p>Payment info here</p></div>
    </div>
</article>

<article class="infobox">
    <h3>Schedule</h3>
    <div class="row">

        <!--        <div class="img-column"><img src="static/images/books.png"  alt="a book"/></div>-->
        <div class="column">
            <p>Schedule here  </p></div>
    </div>
</article>



<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>