<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>register-form</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div>
    <h1>Tutor Registration</h1>
    <form action="register.html" method='POST'>

        <!--        commented out database links to run app w/o errors- delete extra labels when uncommenting-->

        <div class="form-item">
            <!--            <label for="firstName">First Name: </label>-->
            <label>First name: </label>
            <input th:field="${tutor.firstName}" />
            <p class="error" th:errors="${tutor.firstName}"></p>
        </div>

        <div class="form-item">
            <!--            <label for="lastName">Last Name: </label>-->
            <label>Last name: </label>
            <input th:field="${tutor.lastName}" />
            <p class="error" th:errors="${tutor.lastName}"></p>
        </div>

        <div class="form-item">
            <!--            <label for="email">Email: </label>-->
            <label>Email: </label>
            <input th:field="${tutor.email}" />
            <p class="error" th:errors="${tutor.email}"></p>
        </div>

        <div class="form-item">
            <!--            <label for="password">Enter password: </label>-->
            <label>Enter password: </label>
            <input type="password" th:field="${tutor.password}" />
            <p class="error" th:errors="${tutor.password}"></p>
        </div>

        <div class="form-item">
            <!--            <label for="password">Re-enter password: </label>-->
            <label>Re-enter password: </label>
            <input type="password" th:field="${tutor.pwHash}" />
            <p class="error" th:errors="${tutor.pwHash}"></p>
        </div>

        <div class="form-item">
            <label>Time Zone:
                <select th:field="${timeZone}">
                    <option value = 'ET'>ET- Eastern</option>
                    <option value = 'CT'>CT- Central</option>
                    <option value = 'MT'>MT- Mountain</option>
                    <option value = 'PT'>PT- Pacific</option>
                </select>
            </label>
        </div>

        <label>Qualifications:
            <textarea rows="5" cols="25" th:field="*{note}"></textarea></label>

        <label>Subjects:
            <textarea rows="5" cols="25" th:field="*{note}"></textarea></label>


        <button type="submit">Register</button>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>