<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Fragments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<header th:fragment="header">

    <div class="row">

        <div class="head col-4">
            <img src="/icons/connect_iconsm.png" alt="beads connected by lines">
            <div>
            <div class="head col-4">
            <h1 id="head">TutorConnector</h1>
        </div>

        <nav class="navbar navbar-expand-md">
            <div class="container-xxl">

<!--                toggle button for mobile nav-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

<!--                navbar links-->
                <div class="collapse navbar-collapse justify-content-end align-center"
                     id="main-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/student/register}">Student Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/tutor/register}">Become a Tutor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/resources}">Learning Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>

                    </ul>
            </div>
        </nav>


<!--        ----------------------------------------------       -->

                <!--if student user-->
                <th:block th:if="${studentLoggedIn}">

                    <a th:href="@{/}">Home</a> |
                    <a th:href="@{/tutor/list}">List of Tutors</a> |
                    <a th:href="@{student/profile/{id}}">My Profile</a> |
                    <a href="#">Chat</a> |
                    <a th:href="@{/logout}">Logout</a>

                </th:block>

                <!--if tutor user-->
                <th:block th:if="${tutorLoggedIn}">

                    <a th:href="@{/}">Home</a> |
                    <a th:href="@{tutor/profile/{id}}">My Profile</a> |
                    <a th:href="@{/tutor/tutor-clients}">List of Students</a> |
                    <a href="#">Chat</a> |
                    <a th:href="@{/logout}">Logout</a>

                </th:block>

            </div>
        </div>
    </div>
</header>

<footer th:fragment="footer">
    <br/>

    <div><p>Contact us at <a href="mailto: TutorConnector@gmail.com">TutorConnect@gmail.com</a> | &copy; Copyright 2023
    </p></div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>


</body>
</html>