<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>TutorConnect Homepage</title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="homepage">
    <article class="story">
    <h1>Welcome to TutorConnect</h1>
    <p>Now we'll take the almighty fan brush. Maybe there was an old trapper that lived out here
        and maybe one day he went to check his beaver traps, and maybe he fell into the river and drowned.
        Working it up and down, back and forth. See how easy it is to create a little tree right in your world.
        There's not a thing in the world wrong with washing your brush.</p>

    <p>Just let go - and fall like a little waterfall. We artists are a different breed of people.
        We're a happy bunch. Everyone wants to enjoy the good parts - but you have to build the framework first.</p>
    </article>
</div>


<article class="story">
    <h3>For Students</h3>
    <div class="row">
        <div class="img-column"><img src="static/images/notebook.png" alt="a notebook"></div>
        <div class="column">
            <p>As a student, you can do a lot of things on this site like schedule a session,
                choose a tutor, chat with your tutor, and submit payment</p></div>
    </div>
</article>

<article class="story">
    <h3>For Tutors</h3>
    <div class="row">
        <div class="img-column"><img src="static/images/books.png"  alt="a book"/></div>
        <div class="column">
            <p>As a tutor, you can do a bunch of stuff on this site, like tutor students, video conference with your students
            and accept payment.  </p></div>
    </div>
</article>




<!--TODO: Add footer-->
</body>
</html>