<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="container">
    <article class="infobox">
    <h1>Login</h1>
    <form th:action="@{/login}" method='POST' th:object="${loginFormDTO}">


        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label th:for="email">Email: </label>
                    <input th:field="${loginFormDTO.email}" />
                    <p class="error" th:errors="${loginFormDTO.email}"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="form-item col-4">
                    <label th:for="password">Enter password: </label>
                    <input type="password" th:field="${loginFormDTO.password}" />
                    <p class="error" th:errors="${loginFormDTO.password}"></p>
                </div>
            </div>
        </div>

        <br/>
        <button type="submit">Login</button>

        <br/><hr/>
        <h3>Need to register?</h3>
        <ul>
            <li><a th:href="@{/student/register}">Student Registration</a></li>
            <li><a th:href="@{/tutor/register}">Tutor Registration</a></li>
        </ul>
    </form>
    </article>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>