<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Login page</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div>
    <h1>Login</h1>
    <form action="login.html" method="post">


        <div class="form-item">
            <!--            <label for="email">Email: </label>-->
            <label>Email: </label>
            <input th:field="${student.email}" />
            <p class="error" th:errors="${student.email}"></p>
        </div>

        <div class="form-item">
            <!--            <label for="password">Enter password: </label>-->
            <label>Enter password: </label>
            <input type="password" th:field="${student.password}" />
            <p class="error" th:errors="${student.password}"></p>
        </div>


        <button type="submit">Login</button>

        <p> Need to register?</p>
        <p>Student Registration</p>
        <p>Tutor Registration</p>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>