<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Login page</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div>
    <h1>Login</h1>
    <form th:action="@{/login}" method='POST'>


        <div class="form-item">
            <label>Email: </label>
            <input th:field="${email}" />
        </div>

        <div class="form-item">

            <label>Enter password: </label>
            <input type="password" th:field="${password}" />
        </div>


        <button type="submit">Login</button>

        <br/><hr/>
        <h3>Need to register?</h3>
        <ul>
            <li><a th:href="@{/student-register}">Student Registration</a></li>
            <li><a th:href="@{/tutor/register}">Tutor Registration</a></li>
        </ul>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>