<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Learning Resources</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div class="homepage">
    <article class="story">
        <h1>Learning Resources</h1>
        <p>Now we'll take the almighty fan brush. Maybe there was an old trapper that lived out here
            and maybe one day he went to check his beaver traps, and maybe he fell into the river and drowned.
            Working it up and down, back and forth. See how easy it is to create a little tree right in your world.
            There's not a thing in the world wrong with washing your brush.</p>

        <p>Just let go - and fall like a little waterfall. We artists are a different breed of people.
            We're a happy bunch. Everyone wants to enjoy the good parts - but you have to build the framework first.</p>
    </article>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>