<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Search Tutors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<article class="infobox">
   <h1>Tutor Search</h1>
    <br>
    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
                <span th:each="column : ${columns}">
                    <input
                            type="radio"
                            name="searchType"
                            th:id="${column.key}"
                            th:value="${column.key}"
                            th:checked="${column.key == 'all'}"/>
                    <label th:for="${column.key}" th:text="${column.value}"></label>
                </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table class="centeredTable">
        <tr>
            <h3 th:text="${#strings.capitalizeWords(title)}"></h3>
        </tr>

        <tr>
            <td>
                <li th:each="tutor : ${tutors}">
                    <a th:href="@{'/tutor/profile/'+ ${tutor.id}}" th:text="${tutor.firstName} + ' ' +  ${tutor.lastName}"></a>

                </li>
            </td>
        </tr>
    </table>
</article>

    <footer th:replace="~{fragments :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>